@import "compass";
@import "component/misc";

@import "main";
// @import "mq";
@import "login";

@import "component/loader";
@import "component/animate";

/* global setting */
a {
    cursor: pointer;
}
label > input[type=checkbox] {
    margin: 0;
    top: -1px;
    vertical-align: middle;
}

[class^="icon-"] {
    cursor: pointer;
    &:hover {
        cursor: pointer;
        color: red;
        transition: all .5s ease;
    }
}

textarea {
    transition: all linear .2s;
}

// dropdown item cusror for bs
.dropdown-menu li a {
    cursor: pointer;
}
.formly .select2-container {
    width: 320px;
    .select2-results {
        overflow-x: auto;
    }
}

.select2-results .select2-result-single {
    margin-left: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx)  {
    .select2-search input,
    .select2-search-choice-close,
    .select2-container .select2-choice abbr,
    .select2-container .select2-choice .select2-arrow b {
        background-image: none !important;
    }
}

/* 外部组件设置 */


// 业务前缀 mc-<modle>-
// 组件前缀 i-<componentName>-
// 一次性限定 x-语义+限定

// 基础组件
.mc-notices {
    .alert {
        max-width: 400px;
        word-wrap: break-word;
    }
}

// report page fix
.mc-report-container {

    // Todo: check
    .detail-list {
        padding-left: 0;
    }
    .report-detail-triiger {
        cursor: pointer;
        background: none;
        border: none;

        i {
            font-size: 16px;
        }
    }

    .chart-wrapper {
        height: 450px;
        max-height: 450px;
        text-align: center;
        vertical-align: middle;
        line-height: 440px;
        font-size: 30px;
    }

    .setting-wrapper {
        // quick compoent
        .quickdate {
            width: 200px;
            margin-bottom: 10px;

            .quickdate-button {
                width: 90%;
            }
        }

        .date-operator, .dimension-operator {
            & > * {
                margin-right: 10px;
            }
        }
        .date-operator {
            // select{
            //     margin-bottom: 0px;
            // }
            .btn-group {
                .btn {
                    padding-left: 18px;
                    padding-right: 18px;
                }
            }
        }
        .dimension-operator {
            margin: 10px 0;

            button, label {
                display: inline-block;
            }
            // margin-bottom: 10px;

            & > button {
                // margin-bottom: 5px;
            }
            label select {
                margin: 0;
            }
        }
        .trigger-wrapper {
            vertical-align: middle;
            margin-top: 10px;
        }

        select {
            width: 130px;
        }
    }

    .table-wrapper {
        thead td {
            cursor: pointer;
            i {
                padding-left: 10px;
            }
        }
        margin: 20px 0;
        border: none;
        min-height: initial;

        td {
            text-align: center;
        }
    }
}

// advanced dimension modal
.mc-report-dimenAdv-form {
    .controls select {
        width: 35%;
    }
    .controls input {
        width: 40%;
    }
}

.mc-report-sidebar {
    padding: 0;

    .btn-group {
        width: 100%;

        .btn-name, .btn-caret {
            height: 35px;
            font-size: 16px;
        }

        .btn-name {
            width: 87%;
        }

        .dropdown-menu {
            width: 100%;
            overflow: auto;
        }
    }
    .report-list {
        max-height: 400px;
        overflow: auto;
    }

    h3 {
        font-size: 18px;
        line-height: 22px;
        padding-left: 10px;
        border-left: 2px solid red;
    }
    select {
        max-width: 100%;
    }
    input {
        max-width: 95%;
    }
}

// mq page
.mc-mq-container {
    .CodeMirror {
        height: 112px;
        margin: 5px 2px 22px 0;
        font-family: monospace;
        position: relative;
        border: 1px solid #d9d9d9;
        line-height: normal;
        width: 100%;
    }
    .CodeMirror-scroll {
      overflow-y: hidden;
      overflow-x: auto;
    }

    .mq-db-list {
        .db-list{
            list-style: none;
            margin: 0;
        }
        .db-item {
            margin-bottom: 3px;
            .dropdown-toggle {
                width: 70%;
                overflow: hidden;
                padding: 0;
            }
        }
    }

    .mq-job-history {
        table {
            tr > td:last-of-type {
                cusror: pointer;
            }
        }
    }
}


.x-control-stack-select select {
    margin: 5px 0;
}

/* component define here */
.i-error-container {
    position: absolute;
    top: 50px;
    z-index: 100000;
    right: 30px;
    .alert {
        margin: 3px 0;
        .close {
            right: 0;
        }
    }
}

// component - multi-choose
.i-multi-choose-wrapper {
    .checkbox-wrapper {
        max-height: 300px;
        overflow: auto;
    }
    .selected-wrapper {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .search-select-wrapper {
        label {
            white-space: nowrap;
        }
    }
    .suggestion-item {
        margin: 0;
        line-height: 30px;
        font-size: 15px;
    }
    .selected-name .icon-minus-sign {
        margin-right: 5px;
    }
}

/* component - helper */
.i-form-help-block{
    display: block;
    margin: 5px 0 0;
}
.i-form-help-inline {
    display: inline-block;
    margin: 0 0 0 10px;
}
.i-bg-red {
    background-color: #f2dede;
}
.w-text-warning {
    color: #f24949;
}

/* component archive */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    12.5% {
        transform: translateX(-6px) rotateY(-5deg);
    }
    37.5% {
        transform: translateX(5px) rotateY(4deg);
    }
    62.5% {
        transform: translateX(-3px) rotateY(-2deg);
    }
    87.5% {
        transform: translateX(2px) rotateY(1deg);
    }
    100% {
        transform: translateX(0);
    }
}
.i-ux-shake {
    animation: shake 400ms ease-in-out;
}


