@import "vendor/bootstrap";
@import "vendor/bootstrap-responsive";

@import "main";
@import "analyze";
@import "channels";
@import "docs";
@import "mq";
@import "realtime";
@import "login";

@import "vendor/font-awesome";
@import "vendor/jquery-ui-timepicker-addon";

// Todo: component directory should be created
.global-error-container {
    position: absolute;
    top: 50px;
    z-index: 100000;
    right: 30px;
    .alert{
        margin: 3px 0;
    }
}

.setting-wrapper {
    .dimension-operator{
        button, label{
            display: inline-block;
        }
    }
    select{
        width: 120px;
    }

}