
.container-wrapper {
    margin-top: 60px;
}

@media (max-width: 980px) {
    .container-wrapper {
        margin-top: 10px;
    }
}

.chart-wrapper, .table-wrapper {
    border: 1px solid #ccc;
    padding: 4px;
    margin: 4px;
    position: relative;
}

.chart-wrapper {
    height: 500px;
    max-height: 500px;
    overflow: auto;

    .pie-container {
        margin-bottom: 10px;
    }
}

.table-wrapper {
    min-height: 500px;
    margin: 20px 0;

    table th {
        cursor: pointer;
    }
    table th, table td {
        max-width: 300px;
        word-break: break-all;
    }
}

a.active {
    color: #005580;
    background: #EEE;
}

// .common-filter-wrapper {
//     label {
//         margin-right: 10px;
//         padding-bottom: 10px;
//     }
//     .period-btn, .quick-select-btn, .dropdown-toggle {
//         margin-top: -9px;
//     }

//     .quick-select-wrapper .dropdown-menu .quick-select-btn {
//         padding: 4px 0px 4px 10px;
//         width: 117px;
//     }

//     .common-filter-content {
//         display: inline-block;
//         text-align: right;
//     }

//     .periods-wrapper, .quick-select-wrapper {
//         display: inline-block;
//         margin-right: 10px;
//     }

//     .quick-select-wrapper .btn-group li span {
//         display: inline-block;
//         padding: 4px 0 4px 10px;
//         cursor: pointer;
//     }

//     .quick-select-wrapper .btn-group ul {
//         width: 127px;
//         min-width: 127px;
//         text-align: left;
//     }

//     .quick-select-wrapper li:hover {
//         background-color: #08C;
//         color: #fff;
//     }


//     .filter-wrapper {
//         position: relative;
//     }

//     .filter-dimension {
//         width: 130px;
//         margin-bottom: 0;
//     }

//     .filter-input {
//         position: absolute;
//         top: -3px;
//         left: 1px;
//         width: 100px;
//         height: 22px;
//         padding: 1px 0;
//         border-radius: 5px;
//     }
// }

.nav-list.group-list li {
    position: relative;
    margin-right: 0;
}

.header-row .icon-resize-vertical {
    cursor: pointer;
}

.nav-header {
    cursor: pointer;
}

.nav-header .icon-pencil {
    margin-left: 10px;
    cursor: pointer;
}

.add-report {
    position: absolute;
    right: 30px;
    top: -3px;
}

.select-dimension-wrapper {
    margin-top: 10px;
}

.group-name {
    display: block;
    max-width: 130px;
    word-wrap: break-word;
}

input.check-periods {
    margin-right: 10px;
}

.metrics, .dimensions {
    position: relative;
}

.controls label input {
    margin-right: 10px;
}

.metrics .add-metric, .dimensions .add-dimension {
    position: absolute;
    bottom: 3px;
    right: 30px;
    cursor: pointer;
}

.refresh-report, .advanced, .refresh-table, .refresh-dashboard {
    margin-bottom: 10px;
}

.expression .controls, .event_id .controls, .id .controls {
    position: relative;
}

.combine-metrics {
    margin-top: 4px;
}

.combo-input {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 184px;
    border-radius: 5px;
}

.delete-UDF {
    margin-left: 40px;
}

.split-line {
    height: 1px;
    background-color: #eee;
}

.table-advanced {
    margin: 0 0 10px 5px;
}

.annotation-container {
    position: absolute;
    border: 1px solid #ccc;
    width: 200px;
    padding-right: 14px;

    .textarea {
        width: 187px;
        margin-top: 10px;
    }

    .close {
        top: 0;
        right: 0;
    }

    .save {
        float: right;
    }

    .delete {
        float: right;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 12px;
    }
}

.feel-smart {
    display: inline-block;
    margin-bottom: 10px;
}

.profile-dropdown {
    position: absolute;
    top: 8px;
    left: 740px;
}

.more-profile {
    background: none;
    color: white;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header-row .text-info {
    font-size: 12px;
    color: #999;
    font-weight: normal;
}

.export {
    margin-top: 6px;
    float: right;
}

.export .CSV {
    cursor: pointer;
}

.profile-bar .caret {
    border-top-color: #ccc;
    margin-top: 8px;
}

.profile-bar:hover .caret {
    border-top-color: #fff;
    border-top: 2px solid black;
    padding-top: 6px;
}

.add-profile-wrapper a, .view-profile-wrapper a {
    color: #fff;
}

.profile.active a {
    font-weight: bold;
    font-size: 15px;
}

.add-profile-wrapper {
    border-top: 2px solid #000;
    padding-top: 6px;
}

.view-profile-wrapper, .add-profile-wrapper {
    margin: 4px 0 4px 8px;
}

.view-profile-wrapper i {
    margin-right: 6px;
}

.modal.view-profiles-modal {
    width: 770px;
}

.muce-nav-tab {
    font-size: 15px;
}

.navbar .muce-nav-tab.selected {
    color: #FFF;
}

/*.nav-sidebar{margin-top: 30px;}*/
.nav-sidebar {
    .text-tip {
        float: left;
        font-size: 12px;
    }
}

.nav-list {
    margin-top: 10px;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);

    & > li > a {
        border: 1px solid #E5E5E5;
        padding: 8px 14px;
        margin: 0 0 -1px;
    }
}

.sidebar-list {
    & > li:first-child > a {
        border-radius: 6px 6px 0 0;
    }

    li {
        position: relative;
        overflow: hidden;

        i[class*="icon-"] {
            position: absolute;
            top: 10px;
            z-index: 3;
            cursor: pointer;
        }

        .realtime-report-icon.show {
            display: block;
            left: -11px;
            top: 0px;
            color: #468847;
        }

        .delete-report {
            right: 3px;
        }

        .edit-report {
            right: 20px;
        }

        .rerun-report {
            right: 25px;
        }
    }
}

/*Dashboard*/

/*help*/
.icon-question-sign.modal-help {
    font-size: 20px;
    text-decoration: none;
    float: left;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
    color: black;
}

.icon-question-sign.modal-help:hover {
    font-size: 24px;
}


/*loading*/
.chart-canvas.loading,
.table-wrapper.loading,
.checkbox-wrapper.loading,
.pie-content-canvas.loading, .area-content-canvas.loading {
    background: url(../images/loading_70X71.gif) no-repeat center;
}

/*pagination*/
.pagination a {
    cursor: pointer;
}


/*scroll button*/
.scroll-key {
    position: fixed;
    right: 2px;
    top: 200px;
}
.scroll-key span {
    cursor: pointer;
    padding: 2px;
    color: rgb(70, 136, 71);
    background-color: rgb(223, 240, 216);
    border: 1px solid rgb(214, 233, 198);
    display: block;
    text-align: center;
    margin: 5px 0;
    border-right: 4px;
}

/*view event*/
.control-group.fields .controls {
    width: 215px;
    height: 100px;
    border: 1px solid #ccc;
    overflow: auto;
    word-wrap: break-word;
}

.detail-list {
    list-style: none;
}

