
.mq-more-querys {
    margin: 5px auto;
    display: block;
}

#mq_compose_query {
    margin: 30px 30px 5px 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
#mq_db {
    margin: 30px;
}
#mq_container li{
    list-style: none;
}
#mq_db_tb_des {
    margin: 70px 0px 10px 25px;
}
#mq_partitions,#mq_schemas {
   display: none;
}
#mq_db_tb_des .btn-group.mq-select-btn{
    display: none;
    float : right;
    margin-right: 100px;
}
#mq_code_mirror .CodeMirror{
    height: 112px;
    margin: 5px 2px 22px 0;
    font-family: monospace;
    position: relative;
    border: 1px solid #d9d9d9;
    line-height: normal;
    width: 100%;
}
#mq_query{
    display: none;
}
#mq_databases {
    margin-left: 0px;
}
#mq_databases .mq-database-btn {
    width: 90px;
}
#mq_databases li {
    margin:2px;
}
.icon-time {
    font-size: 16px;
    margin-left: 10px;
}
#mq_query .icon-cloud-download{
    font-size: 16px;
    width: 32px;
}
#mq_user_query {
    width: 135px;
    padding: 12px 12px 12px 30px;
}
#mq_user_query_table {
    display: none;
    margin: 30px 30px 30px 0px;
}
#mq_query .bs-docs-example.success-example {
    display: none;
}
#mq_query .bs-docs-example.success-example:after {
    content: "Query Success";
}
#mq_query .mq-show-run-result {
    margin-left: 10px;
}
#mq_user_query_example .bs-docs-example:after {
    content : "mq example";
}
#mq_result_view {
    display: none;
}
#mq_user_query_table .mq-user-query-row .mq-hql:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
#mq_run_animate .mq-notification {
    display: inline-block;
    float: right;
}
#mq_user_query_share .btn {
    margin-bottom: 12px;
}