.realtime-wrapper {display: none; width: 100%; height: 890px; border: 1px solid #ccc; border-radius: 4px; padding-top: 10px;}
.realtime-wrapper > div{height: 300px;}
.overview-container{margin: auto; text-align: center;}
.overview-container h1{ font-size: 20px; margin: 0; padding: 0; text-align: left; padding-left: 20px;}
.overview-container .overview-content span{ display: block; margin: 40px 0;}
.overview-container .title {font-size: 30px;}
.overview-container .value {font-size: 85px; line-height: 65px; font-weight: bold;}
.overview-table h1{font-size: 20px; color: #1490C5; margin: 0;}
.overview-table-container {margin-top: 40px; width: 100%; float: left;}
