<div class="row-fluid mc-mgr collapse-sidebar-container">
    <i class="icon-double-angle-left collapse-sidebar-trigger"></i>
    <div class="span2">
        <div class="nav nav-sidebar mc-report-sidebar">
            <!-- Todo: inline loading indicator -->

            <li>
                <h3>View:</h3>
                <ul class="nav nav-list sidebar-list">
                    <li ui-sref-active="active">
                        <a ui-sref="report.management.report">View Reports</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="report.management.metric">View Metrics</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="report.management.dimension">View Dimensions</a>
                    </li>
                </ul>
            </li>

            <!-- Add List -->
            <li ng-controller="addModalCtrl">
                <h3>Add:</h3>
                <ul class="nav nav-list sidebar-list">
                    <li ng-repeat="type in addTypes">
                        <a ng-click="openModal($event, type)">Add {{type|capitalize}}</a>
                    </li>
                </ul>
            </li>

            <!-- Delete MultiChoose-->
            <li ng-controller="delPanelCtrl">
                <h3>Delete:</h3>
                <select ng-model="currentDelType" ng-options="type for type in delTypes"></select>
                <div multi-chooser choices-list="currentDelList" trigger-del="delSelectedHandler()"></div>
            </li>
        </div>
    </div>
    <div class="span10">
        <!-- <div class="ace-settings-container">
            <div class="btn btn-app btn-mini btn-warning ace-settings-btn" ng-class="{'open': $root.isOpenSetting}">
                <i class="icon-cog bigger-150"
                    ng-click="$root.isOpenSetting = !$root.isOpenSetting"></i>
            </div>

            <div class="ace-settings-box" ng-class="{'open': $root.isOpenSetting}">
                <div muce-include="templates/management/setting-panel.html"></div>
            </div>
        </div> -->
        <div ui-view="pannel"></div>
    </div>
    <!-- Add related snippet -->
</div>

<div muce-include="templates/report/snippet.html"></div>
