<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Fields</th>
        <th>Data Type</th>
        <th>Create Time</th>
        <th>Modified Time</th>
        <th>Owner</th>
        <th>Comment</th>
        <th>isEnable</th>
        <th>Operate</th>
    </tr>
    <tr ng-repeat="dimension in dimensionList">
        <td>{{dimension.id}}</td>
        <td>{{dimension.name}}</td>
        <td ng-bind-html="dimension.fields|linizeArray"></td>
        <!-- <td>
            <div tip-marker content="metric.fields"></div>
        </td> -->
        <td>{{dimension.dataType|castTypeFromInt}}</td>
        <td>{{dimension.createTime|date:'yyyy-MM-dd'}}</td>
        <td>{{dimension.modifyTime|date:'yyyy-MM-dd'}}</td>
        <td>{{dimension.owner}}</td>
        <td>{{dimension.comment}}</td>
        <td><div enable-flag-switch
            switch-callback="toggleResStatus" data="dimension"
            is-enable="{{dimension.enable?1:''}}" type="dimension"></div></td>
        <td>
            <a ng-click="editDimension(dimension)">Edit</a>
            <a ng-click="delDimension(dimension)">Delete</a>
        </td>
    </tr>
</table>
<div muce-include="templates/report/snippet.html"></div>
