<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Period</th>
            <th>Group & Category</th>
            <th>Metric</th>
            <th>Dimension</th>
            <!-- <th>Created Time</th> -->
            <th>Modified Time</th>
            <th>Owner</th>
            <th>Comment</th>
            <th>isEnable</th>
            <th>Operate</th>
        </tr>
        <tr ng-repeat="report in reportList">
            <td>{{report.id}}</td>
            <td>{{report.name}}</td>
            <td>
                <span ng-repeat="period in report.periods">
                    {{period|transPeriod}}
                </span>
            </td>
            <td ng-bind-html="report.groupCategories|linizeArray"></td>
            <td>
                <!-- popover card to show more info  -->
                <span ng-repeat="m in report.metrics">
                    {{m.name}}
                    <i class="icon-info-sign"
                        popover-html-unsafe="{{genMetricCardHtml(m)}}"
                        popover-trigger="mouseenter"
                        popover-animation="true"></i>
                    <br/>
                </span>
            </td>
            <td>
                <span ng-bind-html="report.dimensions|joinArrExt:{'key': 'name', 'joiner': '<br>'}"></span>
            </td>
            <!-- <td>{{report.createTime|date:'yyyy-MM-dd'}}</td> -->
            <td>{{report.modifyTime|date:'yyyy-MM-dd'}}</td>
            <td>{{report.owner}}</td>
            <td>{{report.comment}}</td>
            <td>
                <div enable-flag-switch
                    switch-callback="toggleResStatus"
                    is-enable="{{report.enable?1:''}}" type="report"></div>
            </td>
            <td>
                <a ng-click="editReport(report)">Edit</a>
                <!-- <a ng-click="delReport(report)">Delete</a> -->
            </td>
        </tr>
    </table>
</div>
<div muce-include="templates/report/snippet.html"></div>
