<div id="mq_user_query_share" class="span9">
    <div class="navbar-div pull-right">
        <div class="alert alert-info">
            <strong>Heads up!</strong> The search needs wiki account name. For example, if you want to dig zhangtao's querys, you should type <strong>hidecloud</strong>.
        </div>
        <input type="text" class="span5">
        <button type="submit" class="btn btn-primary mq-search">Search</button>
    </div>
    <table class="table table-bordered user-query-share">
        <thead>
            <tr>
                <th>Status</th>
                <th>View</th>
                <th>Download</th>
                <th>Size</th>
                <th>Hql</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
        </tbody>
    </table>
    <p><a class="btn mq-more-querys btn-large">more</a></p>
</div>