
<script type="text/template" id="channel_unopen_modal">
    <h3><%= profileName %></h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Source</th>
                <th>Ratio</th>
            </tr>
        </thead>
        <tbody id="channel_unopen_modal_body">
        </tbody>
    </table>
</script>

<script type="text/template" id="channel_unopen_modal_row">
    <tr>
        <td><%= source %></td>
        <td>
            <div class="input-prepend input-append">
                <input class="span2 ratio"  type="text" value="100" />
                <span class="add-on">%</span>
                <button class="btn open-btn" type="submit" source="<%= source %>">open</button>
            </div>
        </td>
    </tr>
</script>

<script type="text/template" id="channel_open_modal">
    <h3><%= profileName %></h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Source</th>
                <th>AccessPath</th>
                <th>Current Ratio %</th>
                <th>Modify/Delete</th>
            </tr>
        </thead>
        <tbody id="channel_open_modal_body">
        </tbody>
    </table>
</script>

<script type="text/template" id="channel_open_modal_row">
    <tr class="open_row">
        <td><%= source %></td>
        <td>
            <a href="<%= accessPath %>" target="_blank"><%= accessPath %></a>
            <i class="icon-share"></i>
        </td>
        <td>
            <span class="add-on"><%= ratio %></span>
        </td>
        <td>
            <div class="input-prepend input-append">
                <input class="span2 ratio"  type="text" />
                <span class="add-on">%</span>
                <button class="btn modify-btn" type="submit" source="<%= source %>">modify ratio</button>
                <i class="icon-trash delete-channel" source="<%= source %>"></i>
            </div>
        </td>
    </tr>
</script>
<script type="text/template" id="channel_add_profile">
    <li class="profile"><a href="###" data-toggle="tab" profileId="<%= profileId %>"><%= profileName %></a></li>
</script>