<div class="container login-content">
    <div class="logo" id="logo">
        <img src="/images/muce_logo.png" alt="Muce" />
    </div>
    <div id="login_forms" class="login-forms">
       <div id="login_forms_container" class="login-forms-container">
            <div id="login_forms_panel" class="login-forms-panel">
                <form class="login-form-form" id="login_form">
                    <div class="login-view login-account" id="login_account">
                        <div class="form-row">
                            <input type="text" placeholder="Name" id="login_name" name="j_username">
                        </div>
                        <div class="form-row">
                            <input type="password" placeholder="Password" id="login_password" name="j_password">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <ul class="login-forms-errors alert alert-error" id="login_forms_errors">
            <li class="error">Incorrect name or password.</li>
        </ul>
        <button class="login-forms-submit btn" id="login_forms_submit">
            <span class="login-btn">Log in</span>
        </button>
    </div>
</div>
