<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" ui-sref="report.detail">Muce</a>

            <ul class="nav pull-right">
                <li>
                    <a class="text-error" style="cursor: not-allowed;color: red">测试~</a>
                </li>
                <li>
                    <a class="text-error" style="cursor: not-allowed;color: red">CONFIDENTIAL!</a>
                </li>
                <li>
                    <a class="muce-nav-tab"
                        ui-sref-active="selected" ui-sref="feedback">Feedback</a>
                </li>
                <li>
                    <a href="https://docs.google.com/a/wandoujia.com/document/d/1yG3Dx-Cyvyu91QBiVz36RSs_IOoj1a9-Q4Flv-cZUrM/edit" target="_blank">Help</a>
                </li>

                <li>
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <!-- <img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo"> -->
                        <span class="user-info">
                            <!-- <small>Welcome,</small> -->{{userInfo.username}}
                        </span>
                        <i class="icon-caret-down"></i>
                    </a>
                </li>

            </ul>

            <div class="nav-collapse collapse" muce-navbar>
                <ul class="nav">
                    <li>
                        <a class="muce-nav-tab" ui-sref-active="selected"
                            ui-sref="report.detail">
                            <!-- <i class="icon-leaf"></i> -->Report</a>
                    </li>

                    <li>
                        <a class="muce-nav-tab" ui-sref-active="selected"
                            ui-sref="mq.history">
                            <!-- <i class="icon-leaf"></i> -->Mq</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>