<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">

            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="brand" ui-sref="report.detail">
                Muce<b>Beta</b>
            </a>

            <ul class="nav pull-right">
                <li>
                    <a class="i-text-warning-nav" >CONFIDENTIAL!</a>
                </li>

                <li>
                    <a class="muce-nav-tab" ui-sref-active="selected" ui-sref="feedback">
                        Feedback
                    </a>
                </li>
                <li>
                    <a href="https://docs.google.com/a/wandoujia.com/document/d/1yG3Dx-Cyvyu91QBiVz36RSs_IOoj1a9-Q4Flv-cZUrM/edit" target="_blank">Help</a>
                </li>

                <li>
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        {{userInfo.username}}
                        <i class="icon-caret-down"></i>
                    </a>
                </li>
            </ul>

            <div class="nav-collapse collapse" muce-navbar>
                <ul class="nav">
                    <li ng-class="{ active: $state.is('report.detail') }">
                        <a class="muce-nav-tab" ui-sref="report">
                            Report
                        </a>
                    </li>

                    <li ng-class="{ active: $state.includes('report.management') }">
                        <a class="muce-nav-tab" href="/#/management">
                            Management
                        </a>
                    </li>

                    <li ui-sref-active="active">
                        <a class="muce-nav-tab" ui-sref="mq.history">
                            MuceQuery
                        </a>
                    </li>

                    <li class="dropdown" ui-sref-active="active">
                        <a href="#" class="dropdown-toggle">
                            Tools <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a ui-sref="tool-uamp">UA Metric Platform</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>