<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <!-- <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> -->
            <a class="brand" href="report">Muce</a>
            <p class="navbar-text pull-right">
                <span class="warning">CONFIDENTIAL!</span> |
                <span class="navbar-link user-name"></span> |
                <a href="/muce-webapp/j_spring_security_logout">Logout</a>
            </p>
            <div class="nav-collapse collapse" muce-navbar>
                <ul class="nav">
                    <li ng-repeat="nav in navs">
                        <a class="profile-bar muce-nav-tab" ui-sref-active="selected"
                            data-id="#{{nav}}_container" ui-sref="{{nav}}">
                        {{nav|capitalize}}</a>
                    </li>

                    <li>
                        <a href="https://docs.google.com/a/wandoujia.com/document/d/1yG3Dx-Cyvyu91QBiVz36RSs_IOoj1a9-Q4Flv-cZUrM/edit" target="_blank">Help</a>
                    </li>
                    <li>
                        <a href="https://docs.google.com/a/wandoujia.com/forms/d/1_XmNMNhuB1KM-irbFVKCQ9jQS_C8cphwuSqLddrC-oU/viewform" target="_blank">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>