<div class="i-multi-choose-wrapper">
    <header class="selected-wrapper">
        <span>Selected Items:
            &nbsp;&nbsp;
            <i class="icon-trash"
                ng-show="trash"
                ng-click="triggerDel(choicesList)">
            </i>
        </span><br/>
        <span class="selected-name"
            ng-repeat="i in choicesList|filter:{'selected': true}">
            <i class="icon-minus-sign" ng-click="i.selected=false"></i>{{i.name}}<br/>
        </span>
    </header>
    <div class="search-select-wrapper">
        <input class="search-box suggestion-search-box"
            ng-model="currentQuery"
            placeholder="Search" type="search">
        <div class="checkbox-wrapper">
            <label class="suggestion-item" ng-repeat="i in choicesList|filter: currentQuery">
                <input type="checkbox" ng-model="i.selected" class="select-checkbox">
                {{i.name}}
            </label>
            <double-bounce-spinner ng-show="!choicesList"></double-bounce-spinner>
        </div>
    </div>
</div>