<div class="main-container container-fluid">
    <div class="sidebar">
        <ul class="nav nav-list">
            <li ng-repeat="report in reportList">
                <a ng-href="">{{report.name}}</a>
            </li>
        </ul>
    </div>
    <div class="main-content">

        <!-- export: state.period -->
        <div data-toggle="buttons-radio" class="btn-group">
            <button class="btn btn-primary" type="button"
                ng-class="{'active': state.period==i}"
                ng-click="state.period=i;"
                ng-repeat="i in ['day', 'week', 'month']">
                {{i}}
            </button>
        </div>

        <!-- config: [state.period] -->
        <div date-picker></div>

        <!-- config: [report] -->
        <div ng-repeat="dimension in report.dimensions" dimension-checkbox></div>

        <!-- <ui-select multiple ng-model="multipleDemo.colors" theme="select2" style="width: 300px;">
          <ui-select-match placeholder="Select colors...">{{$item}}</ui-select-match>
          <ui-select-choices repeat="color in availableColors | filter:$select.search">
            {{color}}
          </ui-select-choices>
        </ui-select> -->


        <!-- label+input-select2-multi -->

        <button class="btn">Apply</button>

        <!-- todo 支持child字段的级联渲染 config: [report, state.period, state.start|end|Date, state.dimensions] -->
        <table class="table">
            <tr>
                <td ng-show="state.isSelectMetricMode">选择</td>

                <td ng-repeat="th in reportData.tableTitle">
                    {{th.disp_name}}
                </td>
            </tr>
            <tr ng-repeat="metric in flatMetricsData"
                ng-show="inferFromParent(metric)">
                <td ng-show="state.isSelectMetricMode"><input type="checkbox"></td>

                <td ng-show="inferFromParent(metric)" ng-style="setMetricLevelStyle(metric)">
                    <i class="icon-plus"
                        ng-click="toggleMetricOpenStatus(metric)"
                        ng-show="metric.haschild"
                        ng-class='{"icon-plus": !metric.isopened,
                                    "icon-minus": metric.isopened}'>
                    </i>
                    {{metric.name}}
                </td>

                <td ng-repeat="val in metric.data track by $index"
                    ng-bind-html="formatByType(val, $index)"></td>
            </tr>
        </table>

        <button type="button" class="btn" btn-checkbox
            ng-model="state.isSelectMetricMode">{{state.isSelectMetricMode?'取消':'确定'}}</button>
        <button type="button" class="btn"
            ng-show="state.isSelectMetricMode" ng-click="renderChart()">确定</button>

        <!-- chart config: [state.metric-list] -->
        <div class="chart" ng-show="state.isShowChart">
            <highchart config="chartConfig"></highchart>
        </div>

    </div>
</div>

<!-- List UI widget
    // Setting Panel
    day/week/year
    datepicker (被外部影响)

    dimensionMultiSelect

    apply button to trigger

    初始化怎么做？！

    // Sidebar
    type list (可以 toggle 关掉)

    // table
    metric list (纵向) 横向是日期和环比差值等
    选择查看趋势的 checkbos

    // chart
    // 可以被外部初始化
    // 内部可以切换时间等？！
 -->