<div id="channels_container" class="row-fluid">
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs" id="channel_profiles">
        </ul>
        <div class="tab-content span10">
            <div class="tab-pane active">
                <h1>Channels</h1>
            </div>
            <div class="channels-container">
                <div class="tabbable">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#channelOpened" data-toggle="tab">Channels Opened</a></li>
                        <li><a href="#channelUnopened" data-toggle="tab">Channels Unopened</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="channelOpened">
                        </div>
                        <div class="tab-pane" id="channelUnopened">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>