<div id="dashboard_container" class="row-fluid dashboard-container">
    <div class="span2">
        <ul class="nav nav-list sidebar-list dashboard-list">
        </ul>
    </div>
    <div class="span10">
        <div class="common-filter">
            <input type="text" name="start_date" class="start-date date-time-picker"/> - <input type="text" name="end_date" class="end-date date-time-picker"/> <button class="btn btn-primary refresh-dashboard">apply</button>
        </div>
        <div class="widgets-container" id="widgets_container"></div>
    </div>
</div>