<div class="login-content muce-login">
    <div class="logo">
        <img src="/images/muce_logo.png" alt="Muce" />
    </div>
    <div class="login-forms">
        <form class="login-form-form" name="login_form" ng-submit="doLogin()">
            <div class="login-view login-account" id="login_account">
                <div class="form-row">
                    <input type="text" placeholder="Name" name="username"
                        ng-model="username"  required>
                </div>
                <div class="form-row">
                    <input type="password" placeholder="Password" name="password"
                        ng-model="password" required>
                </div>
            </div>

            <p class="login-forms-errors alert alert-error" ng-if="isLoginError">
                <span class="error">Incorrect name or password.</span>
            </p>

            <button class="login-forms-submit btn" type="submit">
                <span class="login-btn">Log in</span>
            </button>
        </form>
    </div>
</div>
