<div class="container-fluid mc-mq-container">
    <div class="row-fluid">
        <!-- mq sidebar -->
        <div class="span3" >
            <!-- mq fisrt-class menu -->
            <div id="mq_job">
                <div id="mq_compose_query">
                    <button class="btn btn-primary" ng-click="composeNewQuery()">Compose Query</button>
                </div>
                <ul id='mq_user_query' class="nav nav-pills nav-stacked">
                    <li><a class="mq-history" ui-sref="mq.history" ui-sref-active="active">Query History</a></li>
                    <li><a ui-sref="mq.example" class="mq-example" ui-sref-active="active">Query Example</a></li>
                    <!-- <li><a href="#mq" class="share-query">Query Share</a></li> -->
                </ul>
            </div>
            <!-- database list -->
            <div class="mq-db-list">
                <h5>DataBases</h5>
                <ul class="db-list">
                    <li class="dropdown db-item"
                        ng-repeat="db in allDbs">
                        <a class="btn dropdown-toggle" ng-click="changeDb(db)">
                            <i class="icon-th"></i>{{db}}
                        </a>
                        <ul class="dropdown-menu" ng-if="currentDb==db">
                            <li ng-repeat="tb in allTables">
                                <a href="javascript:void(0)" ng-click="changeTable(tb)">{{tb}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <!-- mq content -->
        <div id="mq_detail" class="span9">
            <!-- mq editor -->
            <div muce-include="templates/mq/editor.html"></div>

            <!-- mq detail content -->
            <div ui-view></div>
        </div>
    </div>
    <div muce-include="templates/mq/snippet.html"></div>
</div>