<div id="report_container" class="row-fluid">
    <div class="span2">
        <div muce-include="templates/report/side-navbar.html"></div>
    </div>
    <div class="span10">
        <section class="common-filter-wrapper">
            <a href="#analyze" class="btn btn-primary feel-smart muce-nav-tab"
                data-id="#analytics_container">Feel Smart ! </a>
            <div class="common-filter-content">
                <div class="quick-select-wrapper"></div>
                <div class="periods-wrapper"></div>
                <input type="text" name="start_date" class="start-date date date-time-picker"/> -
                <input type="text" name="end_date" class="end-date date date-time-picker"/>
                <button class="btn btn-primary refresh-report">apply</button>
            </div>
        </section>
        <div muce-include="templates/report/realtime-wrapper.html"></div>
        <section class="chart-wrapper">
            View:
            <select id="chart_type">
                <option selected value="timeline">Timeline</option>
                <option value="pie">Pie</option>
            </select>
            <a href="#filter_chart" class="btn advanced" data-toggle="modal" >Advanced</a>
            <div class="add-widget-container">
            </div>
            <div class="chart-canvas" id="chart_canvas"></div>
        </section>
        <div muce-include="templates/report/detail-wrapper.html"></div>
        <div muce-include="templates/report/table-wrapper.html"></div>
    </div>
</div>