<div class="row-fluid mc-report-container">
    <div class="span2">
        <div muce-include="templates/report/side-navbar-partial.html"></div>
    </div>
    <div class="span10" ng-controller="chartPanelCtrl">
        <div muce-include="templates/report/setting-partial.html"></div>

        <div ng-show="isShowDetailInfo" muce-include="templates/report/detail-partial.html"></div>

        <section class="chart-wrapper">
            <div class="chart-canvas" id="highcharts_wrapper"></div>
        </section>

        <div muce-include="templates/report/table-partial.html"></div>
    </div>
</div>

<div muce-include="templates/report/snippet.html"></div>
